[Unit]
Description=CMRI TCP to RS485 proxy
After=network-online.target

[Service]
ExecStart=/usr/local/bin/ip_to_485
WorkingDirectory=/tmp
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target